.results-page-container {
  padding: 24px;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

.results-page-header {
  margin-bottom: 24px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #222;
}

.results-content {
  display: flex;
  max-height: 80vh;
  justify-content: space-between;
  gap: 24px;
}

.topics-panel, .questions-summary {
  flex: 1;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  max-height: 550px;
  overflow-y: auto;
  scrollbar-width: thin;
  -ms-overflow-style: none;
}

.topics-panel {
  min-width: 20vh;
  max-width: 70vh;
}

.questions-summary {
  width: 60%;
}

/* Collapsible Topic Styling */
.topic-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 8px 0;
  font-size: 1.2rem;
  border-bottom: 1px solid #ddd;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.expanded {
  transform: rotate(90deg); /* Rotate the arrow when expanded */
}

.question-item {
  margin-bottom: 16px;
  padding: 12px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  border: 1px solid #ddd;
}

.correct {
  background-color: #d4f8e8;
  border-left: 4px solid #2ecc71;
}

.incorrect {
  background-color: #fce4e4;
  border-left: 4px solid #e74c3c;
}

.question-item:hover {
  background-color: #f5f5f5;
}

.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.collapsible-content.expanded {
  max-height: 1000px; /* Set high value to ensure full expansion */
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
